<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_ai_sales_agent_root"
              name="Agente IA de Ventas"
              parent="sale.sale_menu_root"
              sequence="15"/>

    <menuitem id="menu_ai_sales_agent_config"
              name="Configuración de Agente IA"
              parent="menu_ai_sales_agent_root"
              action="action_ai_agent_config"
              sequence="10"/>
</odoo>
